<div class="container">
  <img class="logo" src="../../assets/logo.svg" alt="" />
  <div class="header">
    <h1 class="page-title">Disciplinas</h1>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput (keyup)="search($event)" #input>
    </mat-form-field>
    <div></div>
  </div>
  <div class="content">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td class="openDetail" mat-cell (click)="openDetail(element)" *matCellDef="let element">{{element.nome}}</td>
      </ng-container>

      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
        <td mat-cell *matCellDef="let element">{{element.codigo}}</td>
      </ng-container>

      <ng-container matColumnDef="creditos">
        <th mat-header-cell *matHeaderCellDef>Créditos</th>
        <td mat-cell *matCellDef="let element">{{element.creditos}}</td>
      </ng-container>

      <ng-container matColumnDef="turma">
        <th mat-header-cell *matHeaderCellDef>Turma</th>
        <td mat-cell *matCellDef="let element">{{element.turma}}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="editDisciplina(element)" class="icon"><img src="../../assets/pencil.svg" alt="" /></button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Excluir</th>
        <td mat-cell *matCellDef="let element">
          <button (click)="deleteDisciplina(element)" class="icon"><img src="../../assets/trash.svg" alt="" /></button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>

    </table>
    <div class="content-footer">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      <button class="btn-add" (click)="addDisciplinas()">
        <p>+</p>
      </button>
    </div>
  </div>
</div>
