/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body, app, disciplinas {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

* {
  font-family: Roboto;
}

.page-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 60px;
  color: #41414D;
}

.mat-dialog-container {
  background: #F0F0F5;
  padding: 30px 60px 0 !important;
  border-radius: 12px !important;
  height: 90vh !important;
}

.mat-tab-group, .mat-tab-body-wrapper {
  width: 100%;
  height: 100%;
}
