<form [formGroup]="form" (ngSubmit)="handleSubmit(form.value)" class="form-content">
  <mat-form-field appearance="outline">
    <mat-label>Nome</mat-label>
    <input [readonly]="onlyView" [required]="!onlyView" formControlName="nome" [name]="nome" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Código</mat-label>
    <input [readonly]="onlyView" minlength="5" minlength="5" type="number" [required]="!onlyView" formControlName="codigo" [name]="codigo" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Ementa (resumida)</mat-label>
    <input [readonly]="onlyView" [required]="!onlyView" formControlName="ementa" [name]="ementa" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Créditos</mat-label>
    <input [readonly]="onlyView" minlength="2" minlength="2" type="number" [required]="!onlyView" formControlName="creditos" [name]="creditos" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Objetivos</mat-label>
    <input [readonly]="onlyView" [required]="!onlyView" formControlName="objetivos" [name]="objetivos" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Bibliografia</mat-label>
    <input [readonly]="onlyView" [required]="!onlyView" formControlName="bibliografia" [name]="bibliografia" matInput>
  </mat-form-field>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Turmas
        </mat-panel-title>
        <mat-panel-description>
          Turmas vinculadas a esta disciplina
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-checkbox [required]="!onlyView" formControlName="turma" [name]="turma">{{element.turma}}</mat-checkbox>

    </mat-expansion-panel>
  </mat-accordion>

  <div class="form-buttons">
    <button *ngIf="!onlyView" type="button" (click)="closeDialog()" mat-raised-button class="discart">Descartar alterações</button>
    <button *ngIf="!onlyView" type="submit" mat-raised-button class="submit">{{ element?._id ? 'Salvar' : 'Cadastrar' }}</button>
    <button *ngIf="onlyView" type="button" (click)="closeDialog()" mat-raised-button class="submit">Fechar</button>
  </div>

</form>
