.form-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
}

.form-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.form-buttons button-component {
  width: 100%;
}

.mat-expansion-panel {
  background-color: transparent;
  margin-bottom: 30px !important;
}

.mat-expansion-panel .mat-form-field {
  width: 100%;
}
